#transformExtensionButton {
    background-image: url(https://img.icons8.com/color/48/000000/move.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

#transformExtensionButton.active{
    filter: none;
}

