.ExcelExportIcon {
    background-image: url(https://www.freeiconspng.com/minicovers/excel-icon-small-22.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }